{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "prismjs",
      {
        "languages": [
          "elixir",
          "erlang",
          "css",
          "javascript",
          "markdown",
          "markup",
          "ruby",
          "scss",
          "toml"
        ],
        // themes can be found in this directory:
        // assets/node_modules/prismjs/themes
        "theme": "okaidia",
        "css": true
      }
    ]
  ]
}
