<ul id="index-container"  >
  <%= Enum.map(@posts, fn(post) -> %>
    <li id="index-post-list">
      <div style="display: flex; justify-content: space-between">
         <%= link post.title, to: Routes.post_path(@conn, :show, post.slug), class: "post-link" %>
        <span> <%=  Timex.format!(post.date, "{YYYY}-{0M}-{0D}") %> </span>
      </div>
      <span class:"index-intro" > <%=  post.intro %> </span>
    </li>
  <% end) %>
</ul>
